name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "latest"
          gleam-version: "latest"
          rebar3-version: "latest"

      - name: Download dependencies
        run: gleam deps download

      - name: Run tests
        run: gleam test

      - name: Publish to Hex
        run: gleam publish --yes
        env:
          HEXPM_API_KEY: ${{ secrets.HEXPM_API_KEY }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
